body {
    background-color: red; /* Example background color */
}

.navbar-custom {
  background-color: #fff !important;
  border-bottom: 1px solid #ddd !important;
  padding: 20px 0 !important;
}

.navbar-brand img {
  height: 30px !important;
}

.nav-link {
  color: #6c757d;
  font-weight: 500;
  text-decoration: none;
  font-family: "Jost", sans-serif;
  font-size: 18px;
}

.nav-link.active {
  font-weight: 600;
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 12px;
  /* Adds space between text and underline */
}

/* Table and general styles */
.table-custom {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
  background: #fff;
}

.table thead th {
  background-color: #ffffff;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  border-bottom: 1px solid #e8e8e8;
  text-transform: uppercase;
  opacity: 0.5;
  padding: 15px 0px;
}

.table tbody tr td {
  background-color: #ededf3;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  font-family: jost, sans-serif;
  padding: 15px 0px;
}

.pagination {
  justify-content: center;
}

.vl {
  border-left: 5px solid #ddd;
  height: 50px;
}

.nav-item a {
  font-weight: 400;
  font-size: 18px;
  font-family: "Jost", sans-serif;
  color: #000;
  text-decoration: none;
}

.nav-item a.active {
  font-weight: 600;
  text-decoration: underline;
  color: #000;
  text-decoration-thickness: 2px;
}

.bg-color {
  background-color: #ededf3;
}

.br-11 {
  border-radius: 12px;
}

.title {
  font-weight: 500;
  font-size: 28px;
  font-family: jost, sans-serif;
}

.new_roles {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
